<section id="skills">
    <h2> Skills </h2>
    {% for section_hash in blurb %}
        {% for section in section_hash %}
        <div class="item">
            <div class="name">
                {{ section[0] }}
            </div>

            <div class="keywords">
                {% for item in section[1]['primary'] %}
                    {{ item }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
                {% for item in section[1]['secondary'] %}
                    {{ item }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</section>
