<section class="education">
    <h2>Selected Publications</h2>

<!-- {% for section in blurb %}
		<section class="item">
			pp

			<ul>
				{% for bullet in section[1] %}
					<li>{{ bullet | markdownify }}aa</li>
				{% endfor %}
				</ul>
		</section>
{% endfor %}
	</section>
 -->

{% for section in blurb %}
		<section class="item">
			<div class="summary">
                <!-- <h3 class="name">{{ section.pub  }}</h3> -->
				<p><b>{{ section.title }}</b><br/>
				{{ section.authors }}</br>
				{{ section.pub }}</p>

			</div>
			<!-- <span class="position">
                {{ section.role }}
			</span>

			<span class="startDate">
                {{ section.when  }}
			</span>

			<div class="summary">
                <p><p>{{ section.short }}</p></p>
			</div>
            {% if section.bullets %}
			<ul class="highlights">
                {% for bullet in section.bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
			</ul>
            {% endif %} -->
		</section>
{% endfor %}
	</section>