i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome-scss' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-envelope:before {
  content: "\F003";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-linkedin:before {
  content: "\f08c";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-github:before {
  content: "\f09b";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-stack-overflow:before {
  content: "\f16c";
}


