@font-face {
  font-family: 'fontawesome-scss';
  src:
    url('/assets/fonts/fontawesome-scss.woff') format('woff'),
    url('/assets/fonts/fontawesome-scss.ttf') format('truetype'),
    url('/assets/fonts/fontawesome-scss.svg?wfdkt9#fontawesome-scss') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
