$icomoon-font-family: "fontawesome-scss" !default;
$icomoon-font-path: "fonts" !default;

$fa-envelope: "\f003";
$fa-tags: "\f02c";
$fa-linkedin: "\f08c";
$fa-twitter: "\f099";
$fa-github: "\f09b";
$fa-rss: "\f09e";
$fa-globe: "\f0ac";
$fa-caret-left: "\f0d9";
$fa-caret-right: "\f0da";
$fa-stack-overflow: "\f16c";

